.socials {
  @extend %list;
  padding: 0;
  display: inline-flex;
}

.socials__item {
  display: inline-flex;
  width: 5.5rem;
  height: 5.5rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $primary-bg-color;
  padding-top: 1rem;
  margin-right: 0.1rem;
  transition: background-color 200ms linear;

  &:hover {
    background-color: $secondary-bg-color;
  }
}

.socials__icons--icon {
  display: inline-block;
  height: 3.6rem;
  width: 5.6rem;
  fill: $secondary-bg-color;
}

.socials__item:hover .socials__icons--icon {
  fill: $primary-white-color;
}