$main-font-stack:'Roboto', sans-serif;
$secondary-font-stack: 'Montserrat', sans-serif;
$third-font-stack:"Kaushan Script", cursive;
$main-font-size: 14px;
$secondry-font-size: 15px;
$primary-white-color: #ffffff;
$secondary-gray-color: #cccccc;
$primary-text-color: #999999;
$secondary-text-color: #333333;
$third-text-color: #f59191;
$primary-bg-color: #fce38a;
$secondary-bg-color: #f38181;
$third-bg-color: #95e1d3;
$third-darker-color: #63ceba;
$fourth-bg-color: #e5e5e5;
$fifth-bg-color: #6f6e6e;
$main-gradient-color: linear-gradient(to top, rgba(252, 227, 138, 0.91) 0%, rgba(243, 129, 129, 0.91) 100%);